<div class="hero">
  <br />
   <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Support Our Community Youth Group</h1>
    <br />
    <%= link_to 'Learn More', events_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Participate in the Different Events</h3>
    <br />
  </div>

  <div class="col-12 col-sm">
    <h3>Get involve in the Various Programs</h3>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
  </div>
</div>